{
    "extends": [ "airbnb", "prettier", "prettier/react" ],
    "plugins": [ "prettier" ],

    "rules": {
        "prettier/prettier": "error",

        // code arrangement matter
        "no-use-before-define": [ 2, { "functions": false } ],
        
        // make it meaningful
        "prefer-const": 1,
        
        // keep it simple
        "complexity": [ 1, 5 ],

        // react
        "react/prefer-es6-class": [ 1, "always" ],
        "react/jsx-filename-extension": 0
    }
}
